* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 15px solid  #f03232;
}
.col-lg-12 {
  position: relative;
}
.img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  filter: alpha(brightness=200%);
  top: 5%;
  animation: raj10s infinite ease-in-out;
}
@keyframes raj {
  0% {
    left: 60px;
    top: 20px;
  }
  25% {
    left: 300px;
    top: 20px;
  }
  50% {
    left: 300px;
    top: 160px;
  }
  75% {
    left: 60px;
    top: 160px;
  }
  100% {
    left: 60px;
    top: 20px;
  }
}
.dip {
  position: absolute;
  background: white;
  color: #f03232;
  font-weight: bold;
  padding: 16px 28px;
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%);
  top: 20%;
  opacity: .9;
}
.background {
  background: #f03232;
}
.btn {
  margin: auto;
  border: 3px solid #f03232;
  display: block;
  margin-top: 15px;
  transition: background 1s;
}
.btn:hover {
  background: #f03232;
  color: white;
}
.fa {
  background: white;
  color: #f03232;
  padding: 8px;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 14px;
}
.text {
  background: white;
  width: 100%;
  text-align: center;
  padding: 12px;
}
.fa-facebook {
  margin-left: 35px;
}
@media screen and (max-width:568px) {
  .right {
    padding-bottom: 10px;
  }
}
@media screen and (min-width:568px) {
  .dip {
    top: 70%;
    padding: 16px 78px;
  }
  .col-lg-12 {
    height: 300px;
  }
  .right {
    padding-right: 5px;
  }
  .left {
    padding-left: 5px;
  }
  .img {
    top: 30%;
  }
}
.img-overlay {
  position: relative;
  width: 100%;
  height: auto;
}
.text1,.text2 {
  position: absolute;
  top: 0;
  width: 100%;
  background: hotpink;
  left: 0;
  height: 0%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  right: 0;
  align-items: center;
  z-index: 1;
  transition: 2s;
  opacity: .6;
}
.img-overlay:hover  .text1 {
  height: 100%;
}
.text2 {
  bottom: 0;
  height: 100%;
  transform: scale(0);
  opacity: 0;
}
.img-overlay:hover .text2 {
  transform: scale(1);
  opacity: .6;
}
.right {
  position: relative;
  animation: dip8s;
}
@keyframes dip {
  from {
    left: -800px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
.left {
  position: relative;
  animation: biddut8s;
}
@keyframes biddut {
  from {
    right: -800px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}